﻿@using DinlenmeTesisi.Models
@model IEnumerable<Yorum>
@{
    ViewBag.Title = "admin_yorumlar";
}

<h2>Yorumlar</h2>

<table class="table">
    <thead>
        <tr>
            <th scope="col">Sil</th>
            <th scope="col">Yorum ID</th>
            <th scope="col">Yorum yapılan tesis</th>
            <th scope="col">Yorumu yapan kullanıcı</th>
            <th scope="col">Yorum tarihi</th>
            <th scope="col">Yorum</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@Html.ActionLink("Yorumu sil", "yorum_sil", "Admin", new { id = item.yorum_id }, null)</th>
                <th scope="row">@item.yorum_id</th>
                <td>@item.tesis.tesis_ad</td>
                <td>@item.uye.username</td>
                <td>@item.yorum_tarihi</td>
                <td>@item.yorum</td>
            </tr>
        }
    </tbody>
</table>