﻿@model DinlenmeTesisi.Models.DinlenmeTesisleri
@{
    ViewBag.Title = "duzenle";
}

<h2>duzenle</h2>

@using (Html.BeginForm())
{
    <span>Yeni tesis adı :</span>
    @Html.TextBoxFor(x => x.tesis_ad, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "ad" ,placeholder= @ViewBag.tesisad })
    
    <span>Tesis il :</span>
    @Html.TextBoxFor(x => x.il, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "il" , placeholder= @ViewBag.tesisil })

    <span>Tesis ilce :</span>
    @Html.TextBoxFor(x => x.ilce, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "ilce", placeholder = @ViewBag.tesisilce })

    <span>Tesis adres :</span>
    @Html.TextBoxFor(x => x.tesis_adres, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "adres", placeholder = @ViewBag.tesisadres })

    <span>Tesis telefon :</span>
    @Html.TextBoxFor(x => x.tesis_telefon, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "telefon", placeholder = @ViewBag.tesistelefon })

    <span>Tesis mail :</span>
    @Html.TextBoxFor(x => x.tesis_mail, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "mail", placeholder = @ViewBag.tesismail })
    
    <div>
        <input type="submit"/>
    </div>
}