﻿@model DinlenmeTesisi.Models.DinlenmeTesisleri
@{
    ViewBag.Title = "ekle";
}

<h2>Ekle</h2>

@using (Html.BeginForm(Html.BeginForm()))
{
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tesis Adı</span>
        </div>
        @Html.TextBoxFor(x => x.tesis_ad)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">İl</span>
        </div>
        @Html.TextBoxFor(x => x.il)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">İlçe</span>
        </div>
        @Html.TextBoxFor(x => x.ilce)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Tesis Adresi</span>
        </div>
        @Html.TextBoxFor(x => x.tesis_adres)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Mail</span>
        </div>
        @Html.TextBoxFor(x => x.tesis_mail)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Telefon</span>
        </div>
        @Html.TextBoxFor(x => x.tesis_telefon)
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="inputGroup-sizing-default">Telefon</span>
        </div>
        <label for="file">Upload Image:</label>
        <input type="file" name="file" id="file" style="width: 100%;" /> 
    </div>

    <div>
        <input type="submit"/>
    </div>
}