﻿@using DinlenmeTesisi.Models
@model IEnumerable<DinlenmeTesisleri>
@{
    ViewBag.Title = "Index";
}

<h2>@DinlenmeTesisi.Resource.test.admintesispaneli</h2>
@if (Convert.ToInt32(Session["role"]) == 1)
{
    <ul class="list-group">
        <li class="list-group-item">
            @Html.ActionLink(DinlenmeTesisi.Resource.test.uyepaneli, "Uyeler", "Admin")
        </li>
        <li class="list-group-item">
            @Html.ActionLink(DinlenmeTesisi.Resource.test.tesisekle, "Ekle", "Admin")
        </li>
        <li class="list-group-item">
            @Html.ActionLink(DinlenmeTesisi.Resource.test.yorumpaneli, "admin_yorumlar", "Admin")
        </li>
    </ul>


    <table class="table">
        <thead>
            <tr>
                <th scope="row">ID</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.sil</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.duzenle</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesisad</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesisadres</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesisil</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesisilce</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesistelefon</th>
                <th scope="col">@DinlenmeTesisi.Resource.test.tesismail</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.tesis_id</th>
                    <th scope="row">
                        @Html.ActionLink(DinlenmeTesisi.Resource.test.sil, "sil", "Admin", new { id = item.tesis_id }, null)
                    </th>
                    <th scope="row">
                        @Html.ActionLink(DinlenmeTesisi.Resource.test.duzenle, "duzenle", "Admin", new { id = item.tesis_id }, null)
                    </th>
                    <td>@item.tesis_ad</td>
                    <td>@item.tesis_adres</td>
                    <td>@item.il</td>
                    <td>@item.ilce</td>
                    <td>@item.tesis_telefon</td>
                    <td>@item.tesis_mail</td>
                </tr>
            }
        </tbody>
    </table>
    <br />
}
