﻿@using DinlenmeTesisi.Models
@model IEnumerable<Uyeler>
@{
    ViewBag.Title = "Uyeler";
}

<h2>Admin Üye Paneli</h2>
@ViewBag.adminyapma_hata
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Sil</th>
            <th scope="col">Düzenle</th>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">Mail</th>
            <th scope="col">Rol</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
            {
            <tr>
                <th scope="row">@item.user_id</th>
                <th scope="row">@Html.ActionLink("Uyeyi sil", "uye_sil", "Admin", new { id = item.user_id }, null)</th>
                <th scope="row">@Html.ActionLink("Admin Yap", "uye_adminyap", "Admin", new { id = item.user_id }, null) || @Html.ActionLink("Uye Yap", "admin_uyeyap", "Admin", new { id = item.user_id }, null)</th>
                <td>@item.name</td>
                <td>@item.lastname</td>
                <td>@item.phone</td>
                <td>@item.mail</td>
                <td>@item.role</td>
            </tr>
        }
    </tbody>
</table>