﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/scripts/jquery-3.3.1.min.js"></script>
</head>
<body>
    @if (Session["username"] == null)
    {
        <nav class="navbar navbar-dark bg-dark">
            <span class="navbar-brand">
                @Html.ActionLink(DinlenmeTesisi.Resource.test.anasayfa, "Anasayfa", "Home")
            </span>
            <span class="nav-item nav-link">
                @Html.ActionLink(DinlenmeTesisi.Resource.test.uyeol, "Uye_Ol", "Uye")
            </span>
            <span class="nav-item nav-link">
                @Html.ActionLink(DinlenmeTesisi.Resource.test.girisyap, "Uye_Giris", "Uye")
            </span>
            <span class="nav-item nav-link">
                @Html.ActionLink(DinlenmeTesisi.Resource.test.iletisim, "Iletisim", "Home")
            </span>
            <span class="nav-item nav-link">
                @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
            </span>
            <span class="nav-item nav-link">
                @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)
            </span>
        </nav>
    }
    else
    {
        if (Convert.ToInt32(Session["role"]) == 1)
        {
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand">
                    @Html.ActionLink(Session["username"].ToString(), "Profil", "Uye")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Admin Paneli", "Index", "Admin")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Üye Paneli", "Uyeler", "Admin")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Yorum Paneli", "admin_yorumlar", "Admin")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("İletişim", "Iletisim", "Home")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("CIKIŞ YAP", "logout", "Uye")
                </span>
            </nav>
        }
        else
        {
            <nav class="navbar navbar-dark bg-dark">
                <span class="navbar-brand">
                    @Html.ActionLink(Session["username"].ToString(), "Profil", "Uye")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Anasayfa", "Index", "Home")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("İletişim", "Iletisim", "Home")
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)
                </span>
                <span class="nav-item nav-link">
                    @Html.ActionLink("CIKIŞ YAP", "logout", "Uye")
                </span>

            </nav>
        }

    }

    <div class="container-fluid">
        @RenderBody()
        <hr />
        <footer style="padding-top: 200px">
            <p>&copy; @DateTime.Now.Year - Kara Yolları Dinlenme Tesisleri</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>