﻿@model DinlenmeTesisi.Models.Uyeler
@{
    ViewBag.Title = "Duzenle";
}

<h2>Duzenle</h2>

@using (Html.BeginForm())
{
    <span>Telefon :</span>
    @Html.TextBoxFor(x => x.phone, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "telefon", placeholder = @ViewBag.uye_telefon })

    <span>Mail :</span>
    @Html.TextBoxFor(x => x.mail, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "mail", placeholder = @ViewBag.uye_mail })

    <span>Şifre :</span>
    @Html.TextBoxFor(x => x.password, new { @class = "form-control", aria_label = "Sizing example input",type="password", aria_describedby = "sifre", placeholder = @ViewBag.uye_sifre , type="password"})
    

    <div>
        <input type="submit" />
    </div>
}