﻿
@{
    ViewBag.Title = "Profil";
}

<h2>Profil</h2>

<div class="container">
    <div class="row profile">
        <div class="col-md-3">
            <div class="profile-sidebar">
                <div class="profile-userpic">
                    <img src="~/img/user.png" style="width:200px;height:200px;border-radius:100px" class="img-responsive" alt="">
                </div>
                <br />
                <div class="profile-usertitle">
                    <div class="profile-usertitle-name">
                        @(ViewBag.uye_ad + " " + ViewBag.uye_soyad)
                    </div>
                    <div class="profile-usertitle-job">
                        @(ViewBag.uye_mail)
                    </div>
                    <div class="profile-usertitle-job">
                        @(ViewBag.uye_telefon)
                    </div>
                    @Html.ActionLink("Düzenle", "Duzenle", "Uye")
                </div>
            </div>
        </div>
    </div>
</div>