﻿@model DinlenmeTesisi.Models.Uyeler
@{
    ViewBag.Title = "Uye_Ol";
}

<h2>Uye_Ol</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="name">Ad: </span>
            @Html.TextBoxFor(x => x.name, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Ad" })
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="lastname">Soyad :</span>
            @Html.TextBoxFor(x => x.lastname, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Soyad" })
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="username">Kullanıcı Adı : </span>
            @Html.TextBoxFor(x => x.username, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "KullaniciAdi" })
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password">Şifre : </span>
            @Html.TextBoxFor(x => x.password, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Sifre" ,type="password"})
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="phone">Telefon no : </span>
            @Html.TextBoxFor(x => x.phone, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Telefon" })
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="mail">Mail : </span>
            @Html.TextBoxFor(x => x.mail, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Mail" })
        </div>
    </div>
    
    <div>
        <input type="submit" value="Üye Ol" class="btn-success" />
    </div>
    
    @ViewBag.uye_ekleme
}
