﻿@model DinlenmeTesisi.Models.Uyeler
@{
    ViewBag.Title = "Uye_Giris";
}

@using (Html.BeginForm())
{
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="username">Kullanıcı Adı : </span>
            @Html.TextBoxFor(x => x.username, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Username" })
        </div>
    </div>
    <div class="input-group input-group-sm mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text" id="password">Şifre : </span>
            @Html.TextBoxFor(x => x.password, new { @class = "form-control", aria_label = "Sizing example input", aria_describedby = "Sifre" , type="password" })
        </div>
    </div>
    <div>
        <button type="submit" class="btn btn-primary">Giriş Yap</button>
    </div>
    @Html.ActionLink("Kayıt ol", "Uye_Ol", "Uye")

}
@ViewBag.giris
