﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<ul>
    <li>
        @Html.ActionLink("English", "Change", "Language", new { LanguageAbbrevation = "en" }, null)
    </li>
    <li>
        @Html.ActionLink("Türkçe", "Change", "Language", new { LanguageAbbrevation = "tr" }, null)
    </li>
</ul>