﻿@{
    ViewBag.Title = "Anasayfa";
}

<!DOCTYPE html>
<html>

<head>
    <p><center><h1 style="background-color:seagreen">Karayolları Dinlenme Tesisleri</h1></center></p>
    @*<title>Karayolları Dinlenme Tesisleri</title>*@
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style>

        footer {
            background-color: #f2f2f2;
            padding: 25px;
        }

        .carousel-inner img {
            width: 100%;
            min-height: 200px;
        }
    </style>
</head>
<body>

    <style>


        .bg {
            /* The image used */
            background-image: url("~/img/tck-logo.jpg");
            /* Full height */
            height: 100%;
            /* Center and scale the image nicely */
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }
    </style>



    <div class="row">
        <div class="col-md-4">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Her slayt için bir işaret -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                </ol>

                <!-- Slaytlar buraya gelecek -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="~/img/tesis2.jpg">
                        <div class="carousel-caption">
                            <h3>Tesislerimiz</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="~/img/tesis4.jpg">
                        <div class="carousel-caption">
                            <h3>Tesislermiz</h3>

                        </div>
                    </div>

                    <div class="item">
                        <img src="~/img/tesis5.jpg">
                        <div class="carousel-caption">
                            <h3>Tesislerimiz</h3>

                        </div>
                    </div>
                </div>

                <!-- Left and right controls -->
                <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Önceki</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Sonraki</span>
                </a>
            </div>
        </div>

        <div class="col-md-4">
            <div class="bg">

                <div>
                    <p><h3>Sitemiz Türkiye Karayollarında bulunan dinlenme tesisleri hakkında bilgi içerir</h3></p>
                </div>
                <div>
                    <p><h3>Sitemizdeki amaç ise Kullanıcıların yakınlarındaki tesisleri görebilme bilgi alabilme ve adreslerini görüp yol tarifi alabilmeyi</h3></p>
                </div>
                <div>
                    <center>
                        <img src="~/img/tck-logo.jpg" style="width:50%;height:auto" />
                    </center>
                </div>
            </div>

        </div>
        <div class="col-md-4">

            <script src="http://maps.google.com/maps/api/js?sensor=false">
            </script>
            <script>
                if (navigator.geolocation) {
                    navigator.geolocation.getCurrentPosition(showCurrentLocation);
                }
                else {
                    alert("Geolocation API DESTEKLENMIYOR");
                }

                function showCurrentLocation(position) {
                    var latitude = position.coords.latitude;
                    var longitude = position.coords.longitude;
                    var coords = new google.maps.LatLng(latitude, longitude);
                    var mapOptions = {
                        zoom: 20,
                        center: coords,
                        mapTypeControl: true,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };



                    map = new google.maps.Map(
                        document.getElementById("HARITA_M"), mapOptions
                    );
                    //ILK ISARETLEYICIYI KOY
                    var marker = new google.maps.Marker({
                        position: coords,
                        map: map,
                        title: "BULUNULAN KONUM!"
                    });
                }
            </script>
            <meta name="viewport" content="width=device-width, initial-scale=1">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <style>
                #HARITA_M {
                    height: 350px;
                    width: 500px;
                }

                .fa {
                    padding: 20px;
                    font-size: 30px;
                    width: 100px;
                    text-align: center;
                    text-decoration: none;
                    margin: 4px 4px;
                }

                .fa-facebook {
                    background: #3B5998;
                    color: white;
                }

                .fa-google {
                    background: #dd4b39;
                    color: white;
                }

                .fa-twitter {
                    background: #55ACEE;
                    color: white;
                }

                .fixed {
                    position: fixed;
                    top: 900px;
                }
            </style>


            <h2>Google map ile haritdaki yeriniz</h2>
            <div id="HARITA_M"></div>


        </div>
    </div>





    <div class="row">
        <div class="col-md-5">
            <p><font color="blue"><center style="background-color:darkred"> Hayatımızdaki Radyo</font></center></p>
            <p style="background-color: #DCE8DD; border: 1px dashed rgb(235, 243, 251); overflow: auto; padding: 7px; text-align: justify; width: 100%px; height: 90px;">
                <span style="font-size: 14px; line-height: 17px;">

                    İnsanlar İçin En Önemli İcatlardan Birisi Olan Radyo
                    Radyo teknolojik gelişimimiz ve haberleşme ile medyanın oluşumu gibi konularda oldukça önemli bir mihenk taşıdır. Gazetenin icadı ve kullanılmasından sonra geliştirilen radyo, insanlar için haber alma ve eğlence gibi konularda oldukça önemli hizmetler sunmuştur. Oldukça önemli bir icat olan radyo ilk zamanlarda haberleşme amacı ile kullanılsa da kısa zamanda yaygınlaşarak haberleşme gibi önemli özelliğinin yanında sanata daha kolay ulaşılabilen bir eğlence aracı da oldu. Günümüzde oldukça gelişmiş bir medya aracı olarak kullanılan radyo ilk olarak 1898 yılında icat edilerek kullanımına başlanmıştır. Bir elektronik cihaz olan radyo elektronik dalgalara dönüştürülmüş olan sesin alınarak ses haline yeniden dönüştürülmesi ve yayınlanmasını sağlanmasını sağlamaktadır. Radyo için bir verici yani yayın yapan istasyona ihtiyaç duyulmaktadır.
                    İlk olarak askeri amaçla kullanılan radyo özellikle 1900’lü yılların başlarında yaygınlaşmaya ve evlerde kullanılmaya başlandı. Bu dönemden sonrada insanlarda radyo dinle konusunda özellikle haber alınması ve müzik ile başlayan etkileşim tüm dünyayı sardı. Avrupa ve Amerika’nın ardından dünyanın birçok ülkesinde geçen yıllar içerisinde radyo vazgeçilmez bir eğlence aracı oldu. Başlarda sadece devletler tarafından yapılan yayınlar ile haber almak konusunda oldukça önemli bir merkez haline gelmesi de kaçınılmaz sonuç olarak ortaya çıktı. Savaş zamanları ve dünya için zorlu yıllarda birçok gelişmenin radyo ile duyurulduğu bilinmektedir. Bu kadar insan hayatının içine girmiş olan bir cihazın yüzyıldan fazla zamandan sonra ve yüzlerce elektronik cihaz ve gelişim yaşanmasından sonra bile hala var olması ve etkili olması da oldukça önemli bir konudur.
                    Radyo Yayıncılığı ve Radyo Kanalları
                    Radyolar özellikle bölgesel ve ülke bazında yayınların yapıldığı frekanslar ile günümüzde kullanımını sürdürmektedir. Bu kullanımlarda özellikle radyo yayınları için radyo kanalları oldukça önemlidir. İlk zamanlarında kanal konusunda fazla seçenek olmasa da radyo yayıncılığı geliştikçe birçok farklı radyo kanalı da kuruldu ve yayınlarını yapmaya başladılar. Bu çeşitlilikte insanlar için radyonun eğlence amacı ile kullanımının artmasına neden oldu. Farklı müzik tarzlarını sürekli olarak dinleyebilmek radyo ile mümkün oluyordu. Bu durumda insanların radyoya daha fazla bağlanmasını sağladı. Ülkemizde de televizyonun 1970’li yıllarda yaygınlaşması ve hatta her eve girmesinin 1980’li yılları bulduğu düşünülürse radyonun etkisi ve önemi daha fazla anlaşılacaktır. Özellikle canlı radyo dinlenmesi ve ülkemizdeki birçok haberin ajanslardan belirli saatlerde alınması ve akşamları radyo tiyatrosu gibi etkinliklerin yapılması insanları eğlence konusunda radyoya bağlamıştır. Bu konuda ilerleyen zamanlarda sayıları hızla artan radyo kanalları ile popüler müziğin gelişmesi de oldukça hızlanmıştır.
                    Gelişen Teknoloji ve İnternetten Radyonun Dinlenilmesi
                    Zamanın ilerlemesi ile televizyonun evlerde hakimiyeti artsa da radyoya olan ihtiyaç ve istek hiçbir zaman dinmedi. Özellikle müzik dinlemek konusunda ve haber almak konusunda radyolar hala aktif şekilde kullanılmaktadır. Hayatımıza giren internet bile radyo ve radyoculuğun azalmasını sağlamak yerine daha fazla artmasını sağlamıştır. İnternet üzerinden kolay bir şekilde canlı radyo dinle seçeneği insanlar tarafından çok ilgi gören bir durumdur. Bu konuda siteler birçok farklı radyo kanalının kolay bir şekilde dinlenmesini sağlayabilmektedir. İnternet üzerinden radyo dinlenebilmesi günümüzde radyo kanallarının oldukça kolay bir şekilde ulaşılabilir olması, bilinmeyen radyo kanallarının görülmesi ve tanınmasını sağlaması ve haber ile spor gibi birçok farklı müzik türünde yayın yapan kanalların bulunmasını da sağlamaktadır. Belirli bir radyo kanalının dinlenmesi için sitenin tercih edilmesi yanında farklı radyo kanallarının denenerek istenilen müzik türünde yayın yapan radyo kanallarının bulunması konusunda da kullanılabilmektedir. Tüm bunlar radyo dinlenmesi konusunda en başarılı yöntemin internet üzerinden olduğunu da göstermektedir.
                </span>
            </p>
        </div>
        <div class="col-md-6">
            <audio rel="nofollow" allow="autoplay" src="https://listen.powerapp.com.tr/powerturk/mpeg/icecast.audio?/;stream.mp3" type="audio/mpeg" class="mobil_player" style="width: 100%;" controls="controls" preload="true" autoplay="true" fullscreen="false" loop="true"></audio>

        </div>


    </div>


    <div style="float:right;width:20%;">
        <a rel="nofollow" href="https://twitter.com/search?q=%40seckin_soylu" title="Facebook" target="_blank" class="btn facebook">
            <i class="fixed fa fa-twitter"></i>

        </a>
    </div>
    <div style="float:right;width:20%;">
        <a rel="nofollow" href="https://www.facebook.com/sharer/sharer.php?u=https://http://www.karayollarıdinlenmetesisleri.com/" title="Facebook" target="_blank" class="btn facebook">
            <i class="fixed fa fa-facebook"></i>

        </a>

    </div>
    <div style="float:right;width:20%;">

        <a rel="nofollow" href="https://plus.google.com/share?url=https://http://www.karayollarıdinlenmetesisleri.com/" title="Google+" target="_blank" class="btn google-plus">
            <i class="fixed fa fa-google "></i>
        </a>
    </div>
    <div style="clear:both;"></div>


</body>
</html>