﻿@using DinlenmeTesisi.Models
@model IEnumerable<DinlenmeTesisleri>
@{
    ViewBag.Title = "Index";
}

<h2>Tesisler</h2>


@if (Session["username"] != null)
{
    <div class="row">
        <div class="col-3">
            <ul class="list-group">
                <li class="list-group-item" style="text-align:left">@Html.ActionLink("İstanbul", "tesis_il", "Home", new { id = "istanbul" }, null)</li>
                <li class="list-group-item">@Html.ActionLink("Sakarya", "tesis_il", "Home", new { id = "sakarya" }, null)</li>
                <li class="list-group-item">@Html.ActionLink("Samsun", "tesis_il", "Home", new { id = "samsun" }, null)</li>
                <li class="list-group-item">@Html.ActionLink("İzmir", "tesis_il", "Home", new { id = "izmir" }, null)</li>
                <li class="list-group-item">@Html.ActionLink("Trabzon", "tesis_il", "Home", new { id = "trabzon" }, null)</li>
            </ul>
        </div>
        <div class="col-sm">
            <table class="table">
                <thead>
                    <tr >
                        Son Eklenen 5 Tesis
                    </tr>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Tesis Adı</th>
                        <th scope="col">İl</th>
                        <th scope="col">İlçe</th>
                        <th scope="col">Adres</th>
                        <th scope="col">Mail</th>
                        <th scope="col">Telefon</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <th scope="row">@item.tesis_id</th>
                            <td>@item.tesis_ad</td>
                            <td>@item.il</td>
                            <td>@item.ilce</td>
                            <td>@item.tesis_adres</td>
                            <td>@item.tesis_mail</td>
                            <td>@item.tesis_telefon</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}