﻿@model DinlenmeTesisi.Models.Yorum
@{
    ViewBag.Title = "Index";
}

@{
    var ilresim = ViewBag.tesisil;
}
<div class="row">
    <div class="col-sm">
        @{if (ilresim == "Ankara")
            {
                <img src="~/img/Ankara.jpg" style="width:100%;height:auto" />

            }
            else if (ilresim == "Sakarya")
            {
                <img src="~/img/Sakarya.jpg" style="width:100%;height:auto" />
            }
            else if (ilresim == "Trabzon")
            {
                <img src="~/img/Trabzon.jpg" style="width:100%;height:auto" />
            }
            else if (ilresim == "istanbul")
            {
                <img src="~/img/istanbul.jpg" style="width:100%;height:auto" />
            }
            else if (ilresim == "izmir")
            {
                <img src="~/img/izmir.jpg" style="width:100%;height:auto" />
            }
            else if (ilresim == "Samsun")
            {
                <img src="~/img/Samsun.jpg" style="width:100%;height:auto" />
            }
        }

        <br />
        <span>Tesis Adı : </span>
        @ViewBag.tesisad
        <br />
        <span>Tesis il : </span>
        @ViewBag.tesisil
        <br />
        <span>Tesis ilce : </span>
        @ViewBag.tesisilce
        <br />
        <span>Tesis adres : </span>
        @ViewBag.adres
        <br />

    </div>
    <div class="col-sm">
        @{
            Html.RenderAction("tesis_yorum");
        }

        @using (Html.BeginForm())
        {
            @Html.TextAreaFor(x => x.yorum)
            <div>
                <input type="submit" />
            </div>
        }
    </div>
</div>