﻿@using DinlenmeTesisi.Models
@model IEnumerable<DinlenmeTesisleri>
@{
    ViewBag.Title = "tesis_il";
}

<h2>@ViewBag.il Tesisleri</h2>
<ul class="list-group">

    @foreach (var item in Model)
    {
        <li class="list-group-item">@Html.ActionLink(item.tesis_ad,"tesis","Home",new { id=item.tesis_id},null)</li>
    }
</ul>
