﻿@using PagedList
@using PagedList.Mvc
@using DinlenmeTesisi.Models
@model IPagedList<Yorum>
@{
    Layout = null;
}


<div class="list-group">
    @foreach (var item in Model)
    {
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">@(item.uye.name + "  " + item.uye.lastname)</h5>
            <small>@item.yorum_tarihi</small>
        </div>
        <p class="mb-1">@item.yorum</p>
        if (Convert.ToInt32(Session["user_id"].ToString()) == item.uye.user_id)
        {
            @Html.ActionLink("Yorumu sil", "yorumumu_sil", "Home", new { id = item.yorum_id }, null)
        }

    }
    @Html.PagedListPager(Model, _sayfaNo => Url.Action("tesis", "Home", new { SayfaNo = _sayfaNo, id = ViewBag.tesis_id }, null))
</div>